<div class="container">
  <div class="user-details">
    <h3 style="text-align=center"> Mon Poste </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-vim-plain colored"></i>
      <i class="devicon-jetbrains-line-wordmark"></i>
      <p>L'éditeur IntelliJ Idea est un excellent accélateur de développement, et sur les serveurs cibles Vim est mon arme favorite pour les scripts</p>
    </div>
    <div class="four columns">
      <h4>Languages</h4>
      <i class="devicon-java-plain-wordmark colored"></i>
	  <i class="devicon-cplusplus-line-wordmark colored"></i>
      <i class="devicon-mongodb-plain-wordmark colored"></i>
      <p>J'ai commencé la programmation par le C++ couplé avec le Framework Qt, je suis passé à java et son ecosytème et m'ouvre à toutes les nouveautés (nodeJS, NoSQL, Go ...)</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-docker-plain-wordmark colored"></i>
      <i class="devicon-gitlab-plain-wordmark colored"></i>
      <i class="devicon-linux-plain"></i>
      <p>GitLab en équipe avec son wiki intégré et ses merge request facilite la vie de l'équipe, quand Docker nous facilite les tests et déploiements</p>
    </div>
  </div>
</div>
