<div class="container">
  <div class="user-details">
    <h3> Projets </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="paylib" src="{{ "/assets/img/paylib.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Paylib </h5>
	  <ul>
		<li>Java, Webservice, PCI-DSS, paiement en ligne</li>
	  </ul>
	  <p>Poste : Lead Dev depuis Novembre 2015</p>
      <p>Paylib est un portefeuille électronique de paiement en ligne et sans contact avec télphone mobile créé par les banques Française.</p>
      <a class="project-link" href="http://www.paylib.fr/">Site Web</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="monetique" src="{{ "/assets/img/usine.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Usine monétique </h5>
      <ul>
        <li> Java, Batch, Camel</li>
      </ul>
	  <p>Poste : Dev 2014</p>
      <p>Optimisation de batch en java de traitement de télécollecte pour les banques Française</p>
    </div>
  </div>
    <div class="row user-projects">
    <div class="six columns images">
      <img alt="buyster" src="{{ "/assets/img/buyster.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Buyster </h5>
      <ul>
        <li> Java, PCI-DSS, paiement en ligne</li>
      </ul>
	  <p>Poste : Dev 2013 - 2014</p>
      <p>Solution de paiement en ligne soutenue par les opérateurs de téléphonie Français, projet abandonné suite au rachat de SFR par Numéricable </p>
    </div>
  </div>
</div>
